.great {
   font-size: 80px;
   background-color: rgb(0, 255, 0); 
}
.gojo {
    font-size: 40px;
    background-color: blueviolet
    color(srgb 
     green blue);
}
h1 {
    color: blueviolet;
    background-color: aqua;
    font-size: larger;
}